<!DOCTYPE html>
<html>
  <head>
    <script>
      window.setTimeout(function () {
        window.location.reload();
      }, 5000);
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Server</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${payload == null}">
          <td colspan="3">No Books Available</td>
        </tr>
        <tr th:each="element : ${payload}">
          <td><span th:text="${element.getName()}"> Server </span></td>
          <td><span th:text="${element.getAddress()}"> Address </span></td>
          <td><span th:text="${element.getStatus()}"> Status </span></td>
        </tr>
      </tbody>
    </table>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>
